@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root{
    --light_grey :  hsl(220, 14%, 75%);
    --dark_grey : hsl(219, 9%, 45%);
    --font : 'Kumbh Sans', sans-serif;
    --regular_wt : 400;
    --bold_wt : 700;
    --orange : hsl(26, 100%, 55%);
    --pale_orange : hsl(25, 100%, 94%);
    --parent_width : 80%;
    --image_boder_radius : 10px
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* utilities */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 1rem;
    font-weight: var(--regular_wt);
}
h1,h4{
    font-weight: var(--bold_wt);
}
a{
    text-decoration: none;
    color: var(--dark_grey);
    cursor: pointer;
}
img{
    max-width: 100%; ;
}
/* nav */
nav{
    display: flex;
    width: var(--parent_width);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;
}

nav::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 90%;
    margin: auto;
    background-color: hsl(220, 14%, 75%);
    height: 1px;
}
.menu{
    margin-right: auto;
    padding: 2em;
}
.menu_links{
    font-size: 1rem;
    padding: 0.3em;
    margin: 1em;
}
.profile{
    display: flex;
    align-items: center;
}
.profile > *{
    margin: 0.5em;
}
.profile_avatar , .profile_cart{
    max-width: 100%;
    width: 50%;
}
.profile_images{
    max-width: 100%;
    cursor: pointer;
}
.avatar{
    border-radius: 50%;
    border: 2px solid transparent;
}
.avatar:hover{
    border-color:  var(--orange);
}

/* container */
.container{
    display: flex;
    width: var(--parent_width);
    padding: 5em;
    /* min-height: 100vh; */
}
.gallery{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-right: 7em;
}
.gallery_img{
    border-radius: var(--image_boder_radius);
    width: 100%;
    cursor: pointer;
}

.thumbnail{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    margin-top: 1em;
}
.thumbnail_img{
    min-width: 0;
    margin: 0.3em;
    border: 2px solid transparent;
    border-radius: var(--image_boder_radius);
    cursor: pointer;
}
.active{
    border: 2px solid var(--orange);
    filter: opacity(0.5);
}

.thumbnail_img:hover:not(.active) {
    border-color: var(--orange);
    filter: opacity(0.5);
}

/* details */
.company_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.company_title{
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 1em;
}
.company_tag{
    font-size: 4rem;
    line-height: 1em;
}
.company_description{
    margin-top: 3em;
    margin-bottom: 2em;
    width: 80%;
    color: var(--dark_grey);
}
.price_info{
    display: flex;
    flex-direction: column;
}
.price{
    display: flex;
    width: 100%;
    align-items: center;
}
.current_price{
    font-weight: var(--bold_wt);
    font-size: 2rem;
    margin-right: 0.5em;
}
.discount{
    padding: 0.5em;
    color: var(--orange);
    background-color: var(--pale_orange);
    font-weight: var(--bold_wt);
    border-radius: 4px;
}
.actual_price{
    /* font-weight: var(--bold_wt); */
    color: var(--dark_grey);
    text-decoration:line-through;
    line-height: 2.5em;
}
