@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root{
    --light_grey :  hsl(220, 14%, 75%);
    --dark_grey : hsl(219, 9%, 45%);
    --font : 'Kumbh Sans', sans-serif;
    --regular_wt : 400;
    --bold_wt : 700;
    --orange : hsl(26, 100%, 55%);
    --pale_orange : hsl(25, 100%, 94%);
    --parent_width : 80%;
    --image_boder_radius : 10px
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* utilities */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 1rem;
    font-weight: var(--regular_wt);
}
h1,h4{
    font-weight: var(--bold_wt);
}
a{
    text-decoration: none;
    color: var(--dark_grey);
    cursor: pointer;
}
/* nav */
.mobile_menu{
    display: none;
}
.logo{
    width: 10rem;
}
nav{
    display: flex;
    width: var(--parent_width);
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative;
}

nav::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 90%;
    margin: auto;
    background-color: hsl(220, 14%, 75%);
    height: 1px;
}
.menu{
    margin-right: auto;
    padding: 1em 1em;
}
.menu_links{
    font-size: clamp(1rem,1vw,2rem);
    padding: 0.3em;
}
.profile{
    display: flex;
    align-items: center;
}
.profile > *{
    margin: 0.5em;
}
.profile_avatar , .profile_cart{
    max-width: 100%;
    width: 2rem;
    margin: auto;
}
.profile_images{
    max-width: 100%;
    cursor: pointer;
}
.avatar{
    border-radius: 50%;
    border: 2px solid transparent;
}
.avatar:hover{
    border-color:  var(--orange);
}

/* container */
.container{
    display: flex;
    width: 80%;
    padding: 5em;
    /* min-height: 100vh; */
}
.gallery{
    display: flex;
    flex-direction: column;
    width: clamp(50%,60%,100%);
    margin-right: 2em;
    align-items: center;
    justify-content: center;
}
.gallery_img{
    border-radius: var(--image_boder_radius);
    width: clamp(80%,60%,100%);
    cursor: pointer;
}

.thumbnail{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    margin-top: 1em;
    width: clamp(60%,71%,100%);
}
.thumbnail_img{
    min-width: 0;
    margin: 0.3em;
    border: 2px solid transparent;
    border-radius: var(--image_boder_radius);
    cursor: pointer;
}
.active{
    border: 2px solid var(--orange);
    filter: opacity(0.5);
}

.thumbnail_img:hover:not(.active) {
    border-color: var(--orange);
    filter: opacity(0.5);
}

/* details */
.company_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}
.company_title{
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 1em;
}
.company_tag{
    font-size: clamp(1rem,1.5vw,8rem);
    line-height: 1em;
}
.company_description{
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: clamp(0.5rem,1vw,4rem);
    color: var(--dark_grey);
}
.price_info{
    display: flex;
    flex-direction: column;
}
.price{
    display: flex;
    width: 100%;
    align-items: center;
}
.current_price{
    font-weight: var(--bold_wt);
    font-size: 2rem;
    margin-right: 0.5em;
}
.discount{
    padding: 0.5em;
    color: var(--orange);
    background-color: var(--pale_orange);
    font-weight: var(--bold_wt);
    border-radius: 4px;
}
.actual_price{
    /* font-weight: var(--bold_wt); */
    color: var(--dark_grey);
    text-decoration:line-through;
    line-height: 2.5em;
}

/* quantity */
.quantity{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.quantity > *{
    border-radius: 10px;
}
.scale{
    display: flex;
    width: 40%;
    justify-content: space-between;
    background-color: #f7f8fd;
    align-items: center;
    padding: 0 1em ;
    font-weight: var(--bold_wt);
    margin: 1em;
}
.changer{
    padding: 0.25em;
}
.add_btn{
    background-color: var(--orange);
    width: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 10px 30px -10px var(--orange);
    font-size: 1rem;
    font-weight: var(--bold_wt);
    padding: 1em;
    font-size: clamp(1rem,1vw,4rem);
}
.button_cart{
    filter: brightness(0) invert(1);
}

.changer,.add_btn{
    cursor: pointer;
}


/* Media queries */
@media screen and (max-width:1000px) {
    .quantity{
        flex-direction: column;
    }
    .add_btn,.scale{
        width: 100%;
        padding: 1em;
        margin: 1em;
    }
}

@media screen and (max-width:930px) {
    .mobile_menu{
        display: inline;
    }
    .menu{
        display: none;
    }
}

@media screen and (max-width:930px) {
    nav::before{
        display: none;
    }
    .container{
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;
    }
}
